Flask
deepface  # Version that works without backend parameter
tensorflow  # Last stable version before Keras separation
tf-keras
tensorflow-cpu
requests
Pillow
gunicorn
gevent
numpy
#opencv-python-headless
opencv-python-headless
